body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#menu{
  background-color: #7D2181;
}

#menu a{
  color: white;
}
#nav{
  height: 140px;
  padding-top: 0px;
  margin-top: 0px;
}
#boto{
  float: right;
  margin-right: 7px;
}
#foot{
  float: left;
}


div img {
  object-fit: cover;
  width: 100%;
}

.item a {
    align-self: center;
}

#footer {
  padding: 15px;
  background-color: #1c1440;
  color: #fff;
}

#foo1{
  padding-top: 50%;
}








